### C++ template
# Prerequisites
*.d
nginx
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

### CMake template
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

### Example user template template
### Example user template

# IntelliJ project files
!/.idea/
*.iml
out
.vscode
gen
cmake*/
cmake-build-debug-one_gcc/
cmake-build-debug-aliyun_gcc/
.idea/
cmake-build-debug
cmake-build-debug-aliyun_gcc
cmake-build-debug-one_gcc
.idea
.DS_Store
